@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ var projects = Umbraco.Content(1136);}
@* OrderBy() takes the property to sort by and optionally order desc/asc *@

<div class="row page-content">
	<h2 class="title">Two newest projects</h2>
	<hr class="small">
	@foreach (var child in projects.Children.OrderBy("CreateDate").Where("Status.Contains(\"Completed\")").Take(2)) {
	<a href="@child.Url">
		<div class="col-md-6">
			<div class="fp-images">
				<img class="img-responsive" src="@Umbraco.Media(child.image).Url"/>
			</div>
			<h3>@child.projectTitle</h3>
			@Umbraco.Truncate(@child.projectContent,200)
		</div>
	</a>
	}
</div>